#!/bin/bash

# dot_config/nvim/init.lua hash: {{ include "dot_config/nvim/init.lua" | sha256sum }}
# dot_config/nvim/lua/plugins.lua hash: {{ include "dot_config/nvim/lua/plugins.lua" | sha256sum }}

nvim --headless "+Lazy! sync" +qa
nvim --headless "+MasonInstall stylua" +qa
